node_modules
videos
Screenshots
downloads
mochawesome-report
TestReport
cypress-combined-report.json
package-lock.json
.DS_Store
.history/
commandReadOuput.txt
cypress/.DS_Store
cypress/e2e/.DS_Store
cypress/fixtures/.DS_Store